.hero {
  width: 100vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 112px;
}


.hero-heading {
  font-size: 70px;
  font-weight: bold;
  line-height: 80px;
}

.hero-para {
  font-size: 24px;
  text-align: center;
  font-weight: 550;
  margin-top: 10px;
  line-height: 35px;

  &>span {
    color: #787878;
    font-weight: 500;
  }
}


.hero-link {
  color: var(--bank-red);
  font-size: 16px;
  border: 2px solid var(--bank-red);
  background: var(--bank-red);
  color: white;
  border-radius: 1000px;
  padding: 11px 20px;
  font-weight: bold;
  margin-top: 28px;
}

.bg-circle {
  position: absolute;
  top: -450px;
  left: -300px;
  z-index: -1;
}

.bg-circle2 {
  top: -100px;
  left: 500px;
}



@media (max-width: 768px) {
  .hero {
    padding-top: 150px;
  }

  .hero-heading {
    font-size: 38px;
    line-height: unset;
    text-align: center;
  }

  .hero-para {
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    width: 344px;

    &>span {
      font-weight: 600;
    }
  }


  .hero-link {
    color: var(--bank-red);
    font-size: 16px;
    border: 2px solid var(--bank-red);
    background: var(--bank-red);
    color: white;
    border-radius: 1000px;
    padding: 11px 20px;
    font-weight: bold;
    margin-top: 28px;
  }

  .bg-circle {
    position: absolute;
    top: -450px;
    left: -300px;
    z-index: -1;
  }

  .bg-circle2 {
    top: -100px;
    left: 500px;
  }

}
