* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --bank-red: #9B1E26;
  --sand: #FFDFA4;
  --orange: #CE623E;
  --fade-orange: #DE8B70;
  --blood-red: #D3464E;
  --pink: #FFE3E6;
  --card-width: 305;
  --gray: #787878;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.fakeDiv {
  height: 100vh;
  background: pink;
  width: 100vw;
  border: 1px solid black;
}
