.tile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(251, 242, 219, 1)), to(rgba(254, 235, 234, 1)));
  background: -o-linear-gradient(top, rgba(251, 242, 219, 1) 0%, rgba(254, 235, 234, 1) 100%);
  background: linear-gradient(180deg, rgba(251, 242, 219, 1) 0%, rgba(254, 235, 234, 1) 100%);
  border-radius: 60px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

.tileCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  img {
    width: 272px;
    height: auto;
  }
}

.tileRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;


  h1 {
    font-size: 50px;
    font-weight: bold;
    color: var(--blood-red);
    line-height: 50px;
    margin-bottom: 19px;
  }

  h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
  }

  h2 {
    color: var(--fade-orange);
    font-size: 40px;
    text-decoration: line-through;
    font-weight: 600;
    margin-bottom: 12px;
  }

  h4 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;

    span {
      color: var(--bank-red);
      font-weight: 600;
    }
  }

  p {
    font-size: 10px;
    color: var(--gray);
    font-weight: 600;
  }
}

.pin-spacer {
  margin-bottom: 100px !important;
}


@media (max-width: 768px) {
  .tile {
    /*top: -140px;*/
    /*transform: translateY(-150px);*/
  }

  .tileCon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center!important;
    -webkit-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
            transform: translateY(-70px);

    img {
      width: 200px;
      height: auto;
    }
  }

  .tileRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    h1 {
      font-size: 45px;
      line-height: 45px;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 50px;
    }

    h2 {
      font-size: 35px;
    }

    h4 {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 5px;

      span {
        color: var(--bank-red);
        font-weight: 600;
      }
    }

    p {
      font-size: 12px;
      color: var(--gray);
      font-weight: 600;
      max-width: 350px;
      margin-inline: auto;
    }
  }

}
